<div class="container projects-container">
  <h3>{{ site.projects_title | default: "Projects" }}</h3>
  {% for project in site.data.projects %}
    {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
    <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="amansingh" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. You can now buy me a coffee!" data-color="#FF813F" data-position="right" data-x_margin="18" data-y_margin="18"></script>
  {% endfor %}
</div>
